{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col-12 col-md-4 text-center">
            {% if "placeholder" in about.profile_image.url %}
            <img src="{% static 'images/about-me.jpg' %}" class="profile-image" alt="placeholder image">
            {% else %}
            <img src="{{ about.profile_image.url|default:'/static/images/about-me.jpg' }}" class="profile-image" alt="{{ about.title }} placeholder image">
            {% endif %}
        </div>
        <div class="col-12 col-md-8">
            <h1 class="about-me">{{ about.title }} About Alex</h1>
            {{ about.content | safe }}
            <p class="about-text">Alex is a passionate visual storyteller with a deep love for video editing.
                Over the past five years, he has dedicated himself to studying and producing films,
                constantly striving to perfect his craft. His experience spans a wide range of projects,
                including commercial work on TV adverts and shows, various film productions,
                and even creating engaging content for YouTube.
                Through this blog, Alex shares his journey of growth and discovery in the world of editing, 
                inviting others to learn alongside him and collaborate on creative projects together.</p>
        </div>
    </div>
    <div class="row">
        <div class="col text-right">
            <p class="text-end"><em>Updated on: {{ about.updated_on }} 10/08/2025</em></p>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-12 col-md-6 my-5">
            <h2 class="collaborate-title">Let's collaborate!</h2>
            <p class="collaborate-text">Im a big believer in the magic that happens when creative minds join forces.
                Ive got a project in mind that I think could really shine with your video editing skills,
                and Id love to explore how we can bring it to life together!
                Whether we are piecing together a story, adding that cinematic flair,
                or just bouncing around wild ideas, Im excited to see what we can create.</p>

            <form method="post">
                {{ collaborate_form | crispy }}
                {% csrf_token %}
                <button class="btn btn-secondary" type="submit">Submit</button>
            </form>
        </div>
    </div>
</div>
{% endblock content %}