.custom-navbar {
    background-color: #847D72; 
    padding: 1rem;
    border-bottom: 1px solid #FCE7CD;
}

h2, p {
    color:#FCE7CD;
}

body {
    background-color: #fff;
}

.brand {
    font-family: Lato, sans-serif;
    font-size: 1.4rem;
    font-weight: 700;
    color: #BA987A;
}

.red-o {
    color: #FCE7CD;
}

.thin {
    font-weight: 300;
}

.light-bg {
    background-color: #D1B99B;
}

.dark-bg {
    background-color: #BA987A;
}

.main-bg {
    background-color: #fff;
}

.card {
    border: #847D72;
    background-color: #FCE7CD;
}


.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: #847D72;
}

.scale {
    width: 100%;
    height: auto;
}

.author {
    color: #FCE7CD;
    margin: 4px;
    text-transform: uppercase;
}

.masthead {
    margin-top: 10px;
    overflow: hidden;
    position: relative;
    display: inline-block;
    height: 33vh;
    width: 100%;
}

.masthead-text {
    background-color: #847D72;
    color: #FCE7CD;
    position: relative;
}

.masthead-image {
    position: relative;
    overflow: hidden;
}

.masthead-image:after {
    content: "";
    position: absolute;
    top: 0;
    right: 90%;
    height: 100%;
    width: 150%;
    background: #847D72;
    -webkit-transform: skew(15deg);
    -moz-transform: skew(15deg);
    transform: skew(15deg);
    z-index: 100;
}

.post-link {
    text-decoration: none;
    color: #BA987A;
}

.post-link:hover,
.page-link {
    color: #FCE7CD;
    background-color: #BA987A;
    border: 1px solid #FCE7CD;
}

.post-title {
    margin-top: 10%;
    margin-left: 5%;
}

.post-subtitle {
    margin-left: 5%;
    color: #BA987A;
}

.btn-signup,
.btn-edit {
    background-color: #101B20;
    color: #D1B99B;
}

.btn-signup:hover,
.btn-signup:active {
    background-color: #101B20;
    color: #D1B99B;
}

.link {
    color: #FCE7CD;
    text-decoration: none;
}

.link:hover,
.link:active {
    color: #BA987A;
    text-decoration: underline;
}

.btn-like {
    color: #FCE7CD;
    border: none;
    background: transparent;
}

.btn-delete {
    color: #FCE7CD;
    background: #847D72;
}

.btn-like:hover,
.btn-like:active {
    color: #D1B99B;
    background: transparent;
    border: none;
}

.faded {
    color: #D1B99B;
}

.approval {
    color: #BA987A;
}